@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

.bodyContainer {
  margin: spacing.$spacing-03;
}

.desktopHeading {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
  }
}

.tabletHeading {
  h4 {
    @include type.type-style('heading-03');
    color: $text-02;
  }
}

.desktopHeading,
.tabletHeading {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: spacing.$spacing-02;
  margin-top: spacing.$spacing-02;

  h4:after {
    content: '';
    display: block;
    width: 2rem;
    padding-top: 0.188rem;
    border-bottom: 0.375rem solid var(--brand-03);
  }
}

.heading:after {
  content: '';
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.card {
  background-color: $ui-02;
  padding: spacing.$spacing-04;
}

.value {
  @include type.type-style('productive-heading-03');
  color: colors.$gray-100;
}

.label {
  @include type.type-style('label-01');
  color: $text-02;
}

.container {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.content {
  margin-top: spacing.$spacing-05;
  width: 30%;
  margin-left: spacing.$spacing-03;
}

.btnHidden {
  visibility: hidden;
}

.btnShow {
  visibility: visible;
}