@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../../../../../../node_modules/@openmrs/esm-styleguide/src/vars';
@import '../../../root.scss';
.tileContainer {
    border: 0.0625rem solid $ui-03;
    padding: spacing.$spacing-05;
    margin: spacing.$spacing-03 spacing.$spacing-03;
    background-color: #f7f7f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chartPanelContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.chartPanelContainer:hover {
    cursor: move;
}

.chartPanelContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.react-grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.react-grid-item:not(:last-child) {
    margin-right: 10px;
}

.react-grid-layout {
    padding: 10px;
}

.trashIcon {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 8px;
}