@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '../../../root.scss';
.createIcon {
    padding: 1.0rem;
    margin-right: 60px;
}

.iconButton {
    width: 45px;
    height: 40px;
    background: lightgrey;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.searchField {
    width: 100%;
    border: 0px !important;
}

.searchBox {
    padding: 1.0rem;
    width: 100%;
    display: flex;
    justify-content: left;
    margin-left: 30px;
}

.cardContainer {
    background-color: $ui-background;
    display: flex;
    justify-content: space-between;
    padding: 0 spacing.$spacing-05 spacing.$spacing-07 spacing.$spacing-03;
    margin-top: -(spacing.$spacing-03);
}

section {
    margin: spacing.$spacing-03;
    width: 80%;
}

.sectionTitle {
    @include type.type-style('heading-compact-02');
    color: $text-02;
    margin-bottom: spacing.$spacing-04;
}