@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';
.searchField {
    width: 100%;
    border: 0px !important;
}

.searchBox {
    padding: 1.0rem;
    width: 60%;
    display: flex;
    justify-content: left;
}

.createIcon {
    size: 10px;
    color: black;
}

.cardContainer {
    background-color: $ui-02;
    display: flex;
    justify-content: space-between;
    padding: 0 spacing.$spacing-05 spacing.$spacing-07 spacing.$spacing-03;
    margin-top: -(spacing.$spacing-03);
}