@use '@carbon/styles/scss/spacing';
@import '../../../root.scss';
.createIcon {
    // display: flex;
    // justify-content: right;
    // align-content: center;
    padding: 1.0rem;
    margin-right: 60px;
}

.span {
    display: block;
    width: 45px;
    height: 40px;
    background: lightgrey;
    cursor: pointer;
}

.searchField {
    width: 100%;
    border: 0px !important;
}

.searchBox {
    padding: 1.0rem;
    width: 70%;
    display: flex;
    justify-content: left;
    margin-left: 30px;
}

.tooltip :global(.cds--tooltip__trigger.cds--tooltip__trigger--definition) {
    border-bottom: none;
}

.tag {
    margin: 0.25rem 0;
}

.cardContainer {
    background-color: $ui-background;
    display: flex;
    justify-content: space-between;
    padding: 0 spacing.$spacing-05 spacing.$spacing-07 spacing.$spacing-03;
    margin-top: -(spacing.$spacing-03);
}