@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "~@openmrs/esm-styleguide/src/vars";

.container {
    background-color: $ui-01;
}

.tabList {
    padding-left: 2rem
}

.tabWidth {
    width: 150px
}

.panelContainer {
    margin: 10px
}