@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "~@openmrs/esm-styleguide/src/vars";

.cardContainer {
  background-color: $ui-02 ;
  display: flex;
  padding: 0 spacing.$spacing-05 1.7rem spacing.$spacing-03;
}

.cardContainer > div:nth-child(1),
.cardContainer > div:nth-child(2),
.cardContainer > div:nth-child(3),
.cardContainer > div:nth-child(4),
.cardContainer > div:nth-child(5),
{
  width: 20%;
}
