@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.tabContainer {
    margin-top: 1rem;
}

.tabList {
    padding-left: 2rem
}

.tabWidth {
    width: 150px
}