@use '@carbon/styles/scss/spacing';
@use '@openmrs/esm-styleguide/src/vars' as *;

.cardContainer {
  background-color: $ui-02;
  display: flex;
  justify-content: space-between;
  padding: 0 spacing.$spacing-05 spacing.$spacing-07 spacing.$spacing-03;
  flex-flow: row wrap;
  margin-top: -(spacing.$spacing-03);
}