@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';


.radioButton {
  padding: spacing.$spacing-02 spacing.$spacing-02;
  margin: spacing.$spacing-03 0;
}

section {
  margin: spacing.$spacing-03;
}

.sectionTitle {
  margin-bottom: spacing.$spacing-04;
}

.modalBody {
  padding-bottom: spacing.$spacing-05;
}


.container {
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
  align-content: "stretch";
}

.specimenContainer {
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
  column-gap: "10px";
}

.inputText {
  display: "flex";
  align-items: "center";
}