@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "~@openmrs/esm-styleguide/src/vars";

.checkbox {
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

.valueWidget {
    margin-left: 10px
}

.section {
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #000;
        text-align: left;
        font-size: 12px;
        padding: 8px;
        width: 80px;
    }

    th {
        background-color: #f2f2f2;
    }
}
