@import '~@openmrs/esm-styleguide/src/vars';

.overall-info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #c6c6c6;
    max-width: 28%;
    padding: 1rem;
    .info-title{
      display: flex;
      align-items: center;
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
      border-bottom: 0.5px solid #c6c6c6;
      width: 100%;
      justify-content: center;
    }
    .info-body{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0.25rem;
      font-size: 90%;
    }
}

.system-info-table{
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
  border: 0.5px solid #c6c6c6;
}

// add css for different screen sizes
