@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';

.careProgramButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}